select{
    /*width: 120px;*/
    height: 60px;
    /*text-indent:60px;*/

}
.gridUnit input{
    max-width: 150px;

}
.gridUnit{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}
