{% extends 'base.html' %}
{% block title %}Quadratic Assignment {% endblock %}
{% block cssFile %}index.css{% endblock %}
{% block content %}
<div id="main">
    <div class="header">
      <h1>Quadratic Assignment Problem</h1>
      <h2>Abigail Barron</h2>
    </div>

    <div class="content">
      <div id="objective">
          <h2 class="content-subhead">Objective</h2>
          <p>{{ objective }}</p>
          <h2 class="content-subhead">Diagrams describing how it works</h2>
            <p >In the QAP n units(facilities, departments, machines, or electronic components) must be assigned to n locations give the matrixes of flow..</p>

          <div class="pure-g">
              <div class="pure-u-1-2">
                  <img class="pure-img-responsive" src="/static/facilities.png" alt="n-facilities">
              </div>
              <div class="pure-u-1-2">
                  <img class="pure-img-responsive" src="/static/locations.png" alt="n locations">
              </div>
              <div class="pure-u-2-3">
                  <img class="pure-img-responsive" src="/static/result.png" alt="T-Shirt Store">
              </div>
          </div>

          <h2 class="content-subhead">Mathematical Formulation</h2>

        </div>

        <div id="exampleSection">
          <h2 class="content-subhead">Examples</h2>
          <p>See the quadratic assignment in the following examples: </p>
          <ul>
             <li> <a href="/examples/student-center/">Student Center</a></li>
              <li><a href="/examples/biology-building/">Biology Building</a></li>
             <li> <a href="/examples/gym/">Gym</a></li>
             <li> <a href="/examples/engineering-building/">Engineering Building</a></li>
          </ul>
          <button id="showObjective" class="pure-button pure-button-primary">Go Back</button>
        </div>
      </div>
    </div>
{% endblock %}